/* This is a comment */

body {
  color: #878787;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

.main-header {
  background-color: #ffa949;
}

.title {
  color: white;
  font-size: 1.625rem; /* 26px / 16px, 16px is the default font size */
}

.primary-content, secondary-content {
  width: 60%;
}

h1 {
  font-size: 5.625rem; /* 90px / 16px */
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

h2 {
  font-size: 53px;
  text-decoration: underline;
}

h3 {
  font-size: 20px;
  color: #48525c;
}

.primary-content, .main-header {
  text-align: center;
}

.t-border {
  border-top: 2px solid lightgray; 
}

/* pseudo classes */

a:link {
  color: #ffa949;
  text-decoration: none;
}

a:visited {
color: #ffa949;;
}

a:hover {
  color: rgba(255, 169, 73, .4);;
}

a:active {
  color: lightcoral;
}

a:focus {
  color: white;
  background-color: orange;
}


#main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 10px solid o#ffa949;
}
