/* ================================= 
  Base Element Styles
==================================== */
* {
box-sizing: border-box;
}

body {
	line-height: 1.6;
  color: #3a3a3a;
}

.name {
  margin: 0;
  margin-right: 50px;
  display: block;
}

.name, .main-nav li {
  text-align: center;
  background: #fff;
  margin-top: 6px;
  margin-bottom: 6px;
  color: black;
}

.name a, .main-nav a {
  padding: 10px 15px;
  display: block;
}

.container {
padding-left: 1em;
padding-right: 1em;
}

a { 
	color: black;
	text-decoration: none;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.main-header {
  background: #3acec2;
  padding: 1em 0 0;
  text-align: center;
}

.main-footer {
	padding: 2em 0;
  background: #d9e4ea;
  text-align: center;
}

/* ---- Page Elements ---- */


/* media queries */

@media (min-width: 769px) {
  .container {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
  } 
  .wrap {
    /* calculation: 100vh - the hieght of the footer to stick it to the bottom */
    min-height: calc(100vh - 121px);
  }

  .name, .main-nav li {
    display: inline-block;
  }

  .main-nav {
    display: inline-block;
    margin-right: 0;
  }
  .column1, .column2 {
    width: 50%;
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    padding-left: 1em;
    padding-right: 2em;
  }
}
